@{
    ViewData["Title"] = "Panel Administratora";
    Layout = "~/Views/Admin/Orders/_Layout.cshtml";
    ViewData["ActivePage"] = "Orders/OrderList";
}

@model Order
<div>
    <h4>Wszyskie Zamówienia</h4>
    <hr />
    <ul class="list-group">
        @foreach (Order order in @ViewBag.orderList)
		{
			<div class="accordion" id="accordionExample">
				<div id="accordion">
					<div class="card">
						<div class="card-header" id="col-@order.OrderId-2">
							<h5 class="mb-0">
								<button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#col-@order.OrderId" aria-expanded="true" aria-controls="col-@order.OrderId">
									Numer zamowienia: @order.OrderId
								</button>
							</h5>
						</div>
						<div id="col-@order.OrderId" class="collapse collapsed" aria-labelledby="col-@order.OrderId" data-bs-parent="#accordion">
							<div class="card-body border-3 bgc-white shadow-sm  border-bottom-4">
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Id</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										@order.OrderId <br>
									</div>
								</div>

								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Status</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										@order.OrderStatus <br>
									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Platnosc</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										@order.OrderPaymentType <br>

									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Dostawa</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										@order.OrderShipmentType<br>

									</div>
								</div>
								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Data zlozenia</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										@order.OrderSubmissionDate<br>

									</div>
								</div>


								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Data finalizacji</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										@order.OrderFinalizationDate<br>

									</div>
								</div>

								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Cena</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										@order.OrderPrice<br>

									</div>
								</div>

								<hr>
								<div class="row">
									<div class="col-sm-3">
										<h6 class="mb-0">Znizka</h6>
									</div>
									<div class="col-sm-9 text-secondary">
										@order.OrderDiscount<br>

									</div>
								</div>




							</div>
						</div>
					</div>
				</div>
			</div>
		}
    </ul>
</div>