
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.PanelNav.IsActive(ViewContext,"Models")" id="Models" href="/Admin/ModelList">Modele</a></li>
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.PanelNav.IsActive(ViewContext,"Employees")" id="Employees" href="/Admin/EmployeeList">Pracownicy</a></li>
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.PanelNav.IsActive(ViewContext,"Dealerships")" id="Dealerships" href="/Admin/DealershipList">Salony</a></li>
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.PanelNav.IsActive(ViewContext,"Customers")" id="Customers" href="/Admin/CustomerList">Klienci</a></li>
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.PanelNav.IsActive(ViewContext,"Orders")" id="Orders" href="/Admin/OrderList">Zamowienia</a></li>
</ul>