
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.PanelNav.IsActive(ViewContext,"Models")" id="Models" href="/Admin/ModelList">Models</a></li>
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.PanelNav.IsActive(ViewContext,"Employees")" id="Employees" href="/Admin/EmployeeList">Employees</a></li>
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.PanelNav.IsActive(ViewContext,"Dealerships")" id="Dealerships" href="/Admin/DealershipList">Dealerships</a></li>
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.PanelNav.IsActive(ViewContext,"Customers")" id="Customers" href="/Admin/CustomerList">Customers</a></li>
    <li class="nav-item"><a class="nav-link @CarDealershipsManagementSystem.Views.PanelNav.IsActive(ViewContext,"Orders")" id="Orders" href="/Admin/OrderList">Orders</a></li>
</ul>