@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Panel Pracownika";
    Layout = "~/Views/Employee/_Layout.cshtml";
    ViewData["ActivePage"] = "OrderList";
}
@model Order
<div>
    <h4>Twoje Zamówienia</h4>
    <hr />
    <ul class="list-group">
        @foreach (Order order in @ViewBag.orderList)
        {
            <li class="list-group-item my-1">
                <dl class="row">
                    <dt class="col-sm-3">
                        Id
                    </dt>
                    <dd class="col-sm-3">
                        @order.OrderId
                    </dd>
                    <dt class="col-sm-3">
                        Status
                    </dt>
                    <dd class="col-sm-3">
                        @order.OrderStatus <br>
                        @if (@order.OrderStatus == OrderStatuses.Nowe.ToString() && User.IsInRole("DealershipEmployee"))
                        {
                                <a class="col-11" asp-controller="Employee" asp-action="AcceptOrder" asp-route-id="@order.OrderId">Zaakceptuj</a>
                                <img height="14" src="@Url.Content("/images/information.png")" data-toggle="tooltip" data-placement="right" title="Zamówienia ze statusem 'Nowe' muszą zostać zaakceptowane po potwierdzeniu, że salon może spełnić dane zamówienie">
                                
                        }
                        else if (@order.OrderStatus == OrderStatuses.Zaakceptowane.ToString() && User.IsInRole("DealershipEmployee"))
                        {
                            <a asp-controller="Employee" asp-action="SendOrderToService" asp-route-id="@order.OrderId">Wyślij do serwisu</a>
                                <img height="14" src="@Url.Content("/images/information.png")" data-toggle="tooltip" data-placement="right" title="Zamówienia ze statusem 'Zaakceptowane' muszą zostać przesłane do serwisu, aby zamontować dodatkowe opcje">
                        }
                        else if (@order.OrderStatus == OrderStatuses.Gotowe.ToString() && User.IsInRole("DealershipEmployee"))
                        {
                            <a asp-controller="Employee" asp-action="SendOrderToClient" asp-route-id="@order.OrderId">Wyślij do klienta</a>
                                <img height="14" src="@Url.Content("/images/information.png")" data-toggle="tooltip" data-placement="right" title="Gotowe zamówienia muszą zostać zaakceptowane przed wysyłką">
                        }
                        else if (@order.OrderStatus == OrderStatuses.WSerwisie.ToString() && User.IsInRole("ServiceEmployee"))
                        {
                            <a asp-controller="Employee" asp-action="SetOrderReady" asp-route-id="@order.OrderId">Zakończone</a>
                                <img height="14" src="@Url.Content("/images/information.png")" data-toggle="tooltip" data-placement="right" title="Kliknij, gdy skończysz pracę nad zamówieniem, aby wysłać do salonu">
                        }
                    </dd>
                    <dt class="col-sm-3">
                        Platnosc
                    </dt>
                    <dd class="col-sm-3">
                        @order.OrderPaymentType
                    </dd>
                    <dt class="col-sm-3">
                        Dostawa
                    </dt>
                    <dd class="col-sm-3">
                        @order.OrderShipmentType
                    </dd>
                    <dt class="col-sm-3">
                        Data zlozenia
                    </dt>
                    <dd class="col-sm-3">
                        @order.OrderSubmissionDate
                    </dd>
                    <dt class="col-sm-3">
                        Data finalizacji
                    </dt>
                    <dd class="col-sm-3">
                        @order.OrderFinalizationDate
                    </dd>
                    <dt class="col-sm-3">
                        Cena
                    </dt>
                    <dd class="col-sm-3">
                        @order.OrderPrice
                    </dd>
                    <dt class="col-sm-3">
                        Znizka
                    </dt>
                    <dd class="col-sm-3">
                        @order.OrderDiscount
                    </dd>
                </dl>
            </li>
        }
    </ul>
</div>