@using System.Collections
@{
	Model m = @ViewData["model"] as Model;
	ViewData["Title"] = "Details - " + m.Name;
}
<h2 class="text-center mb-3 p-10">Konfiguracja</h2>
@model List<Car_Showroom.Models.Model>;

<script>
function selectEngine(elementId) {
	var backColour = document.getElementsByClassName("back-background-colour-engine")
	for (let i = 0; i < backColour.length; i++) {
		backColour[i].style.backgroundColor = "coral";
	}

    var s = document.getElementById(elementId).style.backgroundColor = "green";
	
}
function selectEquipment(elementId) {
	var backColour = document.getElementsByClassName("back-background-colour-equipment")
	for (let i = 0; i < backColour.length; i++) {
		backColour[i].style.backgroundColor = "coral";
	}

    var s = document.getElementById(elementId).style.backgroundColor = "green";
	
}
</script>

<div class="row ">
	<div class="w-100 d-flex ">
		@{
						<div class="w-100">
							<div class="w-50 rounded mx-auto d-block border-top">
								<div>
									<h5 class="text-center mb-3 mt-3 p-10"> @m.Name, @m.Type</h5>
									<img class="w-100" src="@Url.Content("/images/"+@m.Name+".png")">
								</div>
							</div>
						</div>
		}
	</div>

	<div class="col-12">
		<div class="d-flex flex-column" style="display:flex;">

			<h2 class="text-left mb-5 mt-3 pl-4">Dostępne Wyposażenie</h2>
			<h4 class="border-bottom mr-5">Dostępne silniki </h4>

			<div class="d-flex flex-row " style="display:inline-flex;flex-wrap:wrap; align-items: flex-start;">
				@foreach (var engine in ViewData["engines"] as IList<Engine>)
				{
					<div  class=" border-0 bg-dark text-light shadow pl-3 pr-3 mb-5  rounded mr-3" style="float:left; min-width:30%; max-width:30%; min-height:230px">

						<div onclick="this.parentNode.submit()">
							<h5 class="card-header  border-0 bg-dark text-light  mw-100">
								<div class="text-center text-danger font-weight-bold">@engine.Name</div>
							</h5>
							<div class="pl-4">Moc: @engine.Power km</div>
							<div class="pl-4">Cena: @engine.Price zl</div>
							<div class="pl-4">Pojemność: @engine.Size</div>
							<div class="pl-4">Typ: @engine.Type</div>

						</div>
						<div class="pt-4 align-content-center w-100 text-dark">
							<button id="@engine.Name" onclick="selectEngine('@engine.Name')" style="background-color:coral"  
							type="button" class="back-background-colour-engine text-dark btn btn-primary btn-lg w-100"> Wybierz</button>
						</div>

					</div>

				}
			</div>

		</div>

		<h4 class="border-bottom mr-5">Wersje wyposażeniowe tego modelu</h4>

		<div class="mt-3 d-flex flex-row" style="display:flex; flex-wrap:wrap">

			@foreach (var trimOptionTuple in ViewData["trimOptionTupleList"] as List<Tuple<Trim, List<Option>>>)
			{
				Trim trim = trimOptionTuple.Item1 as Trim;
				IList options = trimOptionTuple.Item2 as List<Option>;

				<div class=" bg-dark text-light mb-5 mr-3 shadow p-3  rounded mr-3" style="min-width:30%; max-width:30%; min-height:230px; position:relative;">
					<form method="post" asp-action="Details" asp-controller="Home" asp-route-id="w" class="pb-5 card border-0 w-100 bg-transparent" style=" !important;cursor:pointer;">
						<div class=" w-100 justify-content-center font-weight-bold"> <h5 class="text-danger text-center " style="">@trim.Name</h5></div>
						<div class="">W skład wchodzą:</div>
						@foreach (Option option in options)
						{
							<div class="ml-1" style="font-size: 9px;">- @option.Name</div>
						}
					</form>
					<div style="position:absolute;bottom:0; width:91%;" class="">
						<button onclick="selectEquipment('@trim.Name')" id="@trim.Name" style="background-color:coral" type="button" class="back-background-colour-equipment mb-2 text-dark  btn btn-primary btn-lg w-100">Wybierz</button>
					</div>

				</div>
			}

		</div>

		<div class="float-right w-50"><button id="orderBtn" type="button" class="bg-dark btn btn-primary btn-lg w-50 float-right">Zamów</button></div>

	</div>
</div>
