@using System.Collections
@{
	Model m = @ViewData["model"] as Model;
	ViewData["Title"] = "Details - " + m.Name;
}
<h2 class="text-center mb-3 p-10">Konfiguracja</h2>
@model List<Car_Showroom.Models.Model>;
<!--<div class=font-weight-bold p-3 mb-2 bg-secondary text-white">m.Name, m.Type</div> -->

<div class="row ">
	<div class="w-100 d-flex ">
		@{
			/*
			<div > Nazwa Modelu: m.Name</div>
			<div >Typ Modelu: m.Type</div>
			Model m = ViewData["model"] as Model;
			*/
										<div class="w-100">

											<div class="w-50 rounded mx-auto d-block border-top">
												<div>
													<h5 class="text-center mb-3 mt-3 p-10"> @m.Name, @m.Type</h5>
													<img class="w-100" src="@Url.Content("/images/"+@m.Name+".png")">
												</div>
											</div>
										</div>
			/*<div class="w-30 font-weight-bold text-md-left ">
			<div class="align-middle">
			<div > Detale?</div>
			<div >Detale?</div>
			</div>
			</div>*/
		}
	</div>




<div class="col-12">
	<div class="d-flex flex-column" style="display:flex;">
		<h2 class="text-left mb-5 mt-3 pl-4">Dostępne Wyposażenie</h2>

		<h4 class="border-bottom mr-5">Dostępne silniki </h4>
		<div class="d-flex flex-row" style="display:inline-flex;flex-wrap:wrap; align-items: flex-start;">
			@foreach (var engine in ViewData["engines"] as IList<Engine>)
			{
				<div class="border-0 shadow p-3 mb-5 bg-white rounded mr-3" style="float:left; min-width:30%; max-width:30%; min-height:230px">
					<form method="post" asp-action="Details" asp-controller="Home" asp-route-id="w" class="card border-0 w-95" style=" !important;cursor:pointer;">
						<div onclick="this.parentNode.submit()">
							<h5 class="card-header text-center border-0 bg-white mw-100">
								<div class="">Nazwa silnika: @engine.Name</div>
								<div class="">Moc: @engine.Power</div>
								<div class="">Cena: @engine.Price</div>
								<div class="">Pojemność: @engine.Size</div>
								<div class="">Typ: @engine.Type</div>
							</h5>
						</div>
					</form>
				</div>
				
		
				<div class="border-0 shadow p-3 mb-5 bg-white rounded mr-3" style="float:left; min-width:30%; max-width:30%; min-height:230px">
					<form method="post" asp-action="Details" asp-controller="Home" asp-route-id="w" class="card border-0 w-95" style=" !important;cursor:pointer;">
						<div onclick="this.parentNode.submit()">
							<h5 class="card-header text-center border-0 bg-white mw-100">
								<div class="">Nazwa silnika: @engine.Name</div>
								<div class="">Moc: @engine.Power</div>
								<div class="">Cena: @engine.Price</div>
								<div class="">Pojemność: @engine.Size</div>
								<div class="">Typ: @engine.Type</div>
							</h5>
						</div>
					</form>
				</div>
				
		


			}

		</div>
		</div>

		<h4 class="border-bottom mr-5">Wersje wyposażeniowe tego modelu</h4>
		<div class="mt-3 d-flex flex-row" style="display:flex; flex-wrap:wrap">
			
			@foreach (var trimOptionTuple in ViewData["trimOptionTupleList"] as List<Tuple<Trim, List<Option>>>)
			{

				Trim trim = trimOptionTuple.Item1 as Trim;
				IList options = trimOptionTuple.Item2 as List<Option>;

				<div class="bg-dark text-light mb-5 mr-3 shadow p-3 mb-5  rounded mr-3" style="min-width:30%; max-width:30%; min-height:230px">
					<form method="post" asp-action="Details" asp-controller="Home" asp-route-id="w" class="card border-0 w-100 bg-transparent" style=" !important;cursor:pointer;">
						<div class=" w-100 justify-content-center"> <h5 class="text-danger text-center " style="">@trim.Name</h5></div>
						<div class="">W skład wchodzą:</div>
						@foreach (Option option in options)
						{
							<div class="ml-1" style="font-size: 9px;">- @option.Name</div>
						}

					</form>
				</div>
			}
			@{
			/*
		*
		* @foreach (var carModel in Model)
		{
		@if (carModel.Type == carType)
		{
		<form method="post" asp-action="Details" asp-controller="Home" asp-route-id="carModel.Id"  class="card border-0 mx-2" style="width: 30% !important;cursor:pointer;">
		<div onclick="this.parentNode.submit()">
		<h5 class="card-header text-center border-0 bg-white">
		carModel.Name
		</h5>
		<img class="card-img" src="Url.Content("/images/"+@carModel.Name+".png")">
		</div>
		</form>
		}
				}

				*/
			}
		
		</div>
	
</div>
</div>
